.movie2 {
    background-color: rgb(51, 51, 51);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.movie2__counter {
    position: absolute;
    left: 5px;
    top: 3px;
}

.movies2__all {
    border-radius: 10px;
    display: flex;
    gap: 50px;
    margin-top: 40px;
    background-color: rgb(172, 172, 172);
    height: 825px;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
}

.movies2__all > a {
    height: 110px;
}

.movie2Btns {
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(0, 133, 7);
    border: solid;
}

.movie2Btns:hover {
    background-color: rgb(0, 192, 32);
    transition: all 0.1s;
}


.movie2Btns > p {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
}

.movie2Btns.clicked {
    background-color: rgb(112, 112, 112);
}

.movie2Btns__difficult {
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(165, 0, 0);
    border: solid;
}

.movie2Btns__difficult:hover {
    background-color: rgb(207, 0, 0);
    transition: all 0.1s;
}

