.movieDetails {
    background-color: rgb(51, 51, 51);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.movieDetails__itemBtn.movieDetails__itemBtnmp3 {
    z-index: 5;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 50px;
    background: no-repeat center/85% url("../img/audioIcon.png"), rgb(97, 97, 97);
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.movieDetails__itemBtn.movieDetails__itemBtnmp3:hover,
.movieDetails__itemBtn.movieDetails__itemBtnmp3.active {
    background-color: rgb(116, 116, 116);
    transition: all 0.1s;
}

.movieDetails__itemBtn {
    z-index: 5;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 50px;
    background: no-repeat center/85% url("../img/imgIcon.png"), rgb(97, 97, 97);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.movieDetails__itemBtn:hover,
.movieDetails__itemBtn.active {
    background-color: rgb(116, 116, 116);
    transition: all 0.1s;
    color: rgb(134, 0, 0);
}

.movieDetails__itemBtnBg {
    z-index: 5;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 50px;
    background: no-repeat center/85% url("../img/solution.png"), rgb(97, 97, 97);
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }


.movieDetails__content {
    max-width: 100%;
    max-height: 100%; 
    overflow: hidden;
}

.movieDetails__content > img {
    height: 1300px;
    width: 1300px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.movieDetails__content > audio {
  margin-top: 150px;
}

.movieDetails__items {
    margin-top: 10px;
    display: flex;
}

.movieDetails__solutionBtn {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    height: 30px;
    width: 85px;
    border: solid;
    border-radius: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    font-size: 1rem;
    font-weight: bold;
}


.movieDetails__cover > img {
    height: 600px;
    width: 420px;
    object-fit: contain;
    margin-top: 50px;
    animation: fadeIn 8s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

