.nav {
    
}

.nav_logo {
  height: 800px;
  width: 800px;
  object-fit: contain;
  margin-top: 100px;
}

.nav_contents {
    height: 225px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


